html {
  scroll-behavior: smooth;
}

@import "tailwindcss";

.bg-header-mobile {
  background-image: url("/assets/images/header-mobile.png");
}
.bg-header-desktop {
  background-image: url("/assets/images/header-desktop.jpg");
}
